################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/env
/parallelqueue/parallelqueue/__pycache__
/parallelqueue/__pycache__
